  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->      
      <div class="carousel-inner">
        <div class="item active first-item">          
          <div class="container">
            <div class="carousel-caption col-xs-6">            
              <h2>Smart autowatering system for entire home.</h2>   
              <div class="cb feature-list-item">
                <div class="feature-image icon"></div> 
                <div class="caption">Water up to 5 plants</div> 
              </div>
              <div class="cb feature-list-item">
                <span class="feature-image glyphicon glyphicon-time"></span> 
                <div class="caption">Up to 3 weeks without refilling water storage</div> 
              </div>

              <div class="cb feature-list-item">
                <span class="feature-image glyphicon glyphicon-wrench"></span> 
                <div class="caption">Easy to adjust and use</div> 
              </div>

              <div>
                <p>
                  <a class="btn btn-lg btn-success" href="#" role="button">Learn more <span class="glyphicon glyphicon-play"></span></a>
                </p>
              </div>        
            </div>
            <div class="image col-xs-6"> 
              <img src="img/slide1.jpg" class="img-responsive" alt="" />
            </div>
          </div>
        </div>
        <div class="item">          
          <div class="container">            
            <div class="carousel-caption col-xs-6">            
              <h2>Wireless module base autowatering system .</h2>
              <p>Use up to 5 wirilles modules to water your plants in different parts of your home.</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Learn more <span class="glyphicon glyphicon-play"></span></a></p>
            </div>
            <div class="image col-xs-6"> 
              <img src="img/slide2.jpg" class="img-responsive" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Use external water storage.</h1>
              <p>Easily extend capacity of your autowatering module with external water storage.</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Learn more <span class="glyphicon glyphicon-play"></span></a></p>
            </div>
            <div class="image col-xs-6"> 
              <img src="img/slide2.jpg" class="img-responsive" alt="" />
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control"  data-target="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control"  data-target="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
  </div>
